---
// library imports
import { Image } from 'astro:assets'
import { Icon } from "astro-icon";

// images
import user from '../../assets/about-me/smytsu.png';

// utility imports
import config from "../../../config";

// component imports
import SocialMedia from "../utility/SocialMedia.astro";
---

<div class="about-me">
    <div class="user">
        <h3>Text</h3>
        <SocialMedia socials={config.socials} />
        <p>Front-end developer</p>
        <p>Main technologies: CSS, JS, Astro</p>
        <p>I speak</p>
        <p>I'm from</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, unde tempora sunt officiis reprehenderit sed quibusdam, totam animi magni accusantium deserunt iure impedit laudantium saepe minima cupiditate, debitis exercitationem! Facilis?</p>
    </div>
    <div class="image-wrapper">
        <Image src={user} alt="test" class="about-me-img" width={400} height={500} format="webp" loading={"eager"}/>
        <Image src={user} alt="test" class="about-me-img phone" width={400} height={500} format="webp" loading={"eager"}/>
    </div>
</div>

<style lang="scss">
    .about-me {
        display: flex;
        flex-wrap: wrap;

        .user {
            width: 50%;

            @media (max-width: 970px) {
                width: 100%;
            }
        }

        .image-wrapper {
            flex: 1 0 0;
        }

        .about-me-img {
            border-radius: .5rem;
            object-fit: cover;

            &.phone {
                display: none;
            }
        }
    }
</style>