---
// astro imports
import { Image } from "@astrojs/image/components";
import { Icon } from "astro-icon";

// utility imports
import config from "../../../config";

// component imports
import SocialMedia from "../utility/SocialMedia.astro";
---

<div class="about-me">
    <div class="user">
        <h3>Text</h3>
        <SocialMedia socials={config.socials} />
    </div>
    <div class="image-wrapper">
        <Image src="/images/smytsu_full.png" alt="test" class="about-me-img" width={400} height={500} format="webp" fit="cover" position="top" loading={"eager"}/>
        <Image src="/images/smytsu_full.png" alt="test" class="about-me-img phone" width={400} height={500} format="webp" fit="cover" position="top" loading={"eager"}/>
    </div>
</div>

<style lang="scss">
    .about-me {
        display: flex;
        flex-wrap: wrap;

        .user {
            width: 50%;

            @media (max-width: 970px) {
                width: 100%;
            }
        }

        .image-wrapper {
            flex: 1 0 0;
        }

        .about-me-img {
            border-radius: .5rem;
            object-fit: contain;

            &.phone {
                display: none;
            }
        }
    }
</style>