---
// astro imports
import { Image } from '@astrojs/image/components';
import { Icon } from "astro-icon";

import type { HTMLAttributes } from "astro/types";

interface Hobbies {
    img?: string;
    alt?: string;
    position?: string;
};

interface Props extends HTMLAttributes<"li"> {
    hobbies?: Hobbies[];
}

const { hobbies } = Astro.props;
---

<div
  class="carousel"
  data-carousel>
  <div class="button">
    <button
      type="button"
      class="carousel-button prev"
      data-carousel-button
      aria-label="Previous image">
      <Icon name="mdi:arrow-left-bold" />
    </button>
  </div>
  <div class="button">
    <button
      type="button"
      class="carousel-button next"
      data-carousel-button
      aria-label="Next image">
      <Icon name="mdi:arrow-right-bold" />
    </button>
  </div>
  <ul data-slides>
    {hobbies?.map(( {img, alt, position}, index) => ( 
    <li class="slide" data-active={index === 0 ? true : undefined}>
        <Image 
            src={`${img}`}
            alt={`${alt}`}
            width={800}
            height={800}
            fit="cover"
            position={`${position}`}
            format="webp"
            quality={100}
            class="slide-img"
            />
    </li>
    ))}
  </ul>
</div>

<style lang="scss">
  .carousel {
    height: 800px;
    position: relative;

    @media (max-width: 970px) {
        height: 400px;
    }

    .carousel-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      display: flex;
      padding: 0.5em;

      border: none;

      z-index: 2;

      &.prev {
        left: 0.5rem;
      }

      &.next {
        right: 0.5rem;
      }

      svg {
        width: 28px;
        aspect-ratio: 1;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

        & > *:first-child {
        content: attr(data-active);
      }
    }

    .slide {
      position: absolute;
      inset: 0;
      opacity: 0;
      transition: 200ms opacity ease-in-out;

      &[data-active] {
        opacity: 1;
        z-index: 1;
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: .5rem;
      }
    }
  }
</style>

<script lang="js">
  const buttons = document.querySelectorAll("[data-carousel-button]");

  buttons.forEach(button => {
    button.addEventListener("click", () => {
      const offset = button.dataset.carouselbutton === "next" ? 1 : -1;
      const slides = button
        .closest("[data-carousel]")
        .querySelector("[data-slides]");

      const activeSlide = slides.querySelector("[data-active]");
      let newIndex = [...slides.children].indexOf(activeSlide) + offset;
      if (newIndex < 0) newIndex = slides.children.length - 1;
      if (newIndex >= slides.children.length) newIndex = 0;

      slides.children[newIndex].dataset.active = true;
      delete activeSlide.dataset.active;
    });
  });
</script>
