---
// component thanks to:
// https://kld.dev/building-table-of-contents/

const { heading } = Astro.props;
---

<li>
  <a href={'#' + heading.slug} class="header-link">
    {heading.text}
  </a>
  {
    heading.subheadings.length > 0 && (
      <ul>
        {heading.subheadings.map((subheading) => (
          <Astro.self heading={subheading} />
        ))}
      </ul>
    )
  }
</li>

<style lang="scss">
  
  .header-link {
    display: inline-flex;

    width: 100%;
    height: 100%;

    padding-block: .1rem;
    padding-inline: .25rem;

    color: hsl(var(--navbar-color));
    border-radius: .25rem;
    font-weight: 700;
    position: relative;
    text-decoration: none;

    &:is(:hover, :focus-visible) {
      color: hsl(var(--font));
      background-color: hsl(var(--button));
      opacity: .9;
      outline: none;
    }

    &:is(.in-view) {
      color: hsl(var(--font));
      background-color: hsl(var(--button));
      opacity: .9;
    }
  }

  li {
    list-style: none;

    &:not(:last-of-type) {
      margin-block-end: .5rem;
    }

    ul {
      list-style: none;

      margin-block-start: .5rem;
    }
  }
</style>