---
// component thanks to:
// https://kld.dev/building-table-of-contents/

const { heading } = Astro.props;
---

<li>
  <a href={'#' + heading.slug} class="header-link">
    {heading.text}
  </a>
  {
    heading.subheadings.length > 0 && (
      <ul>
        {heading.subheadings.map((subheading) => (
          <Astro.self heading={subheading} />
        ))}
      </ul>
    )
  }
</li>

<style lang="scss">
  
  .header-link {
    display: inline-flex;

    color: hsl(var(--navbar-color));
    font-weight: 700;
    position: relative;
    text-decoration: none;

    &:is(:hover, :focus-visible) {
      color: hsl(var(--font));
      opacity: .9;
    }
  }

  li {
    list-style: none;

    ul {
      list-style: none;
    }
  }
</style>