---

// component imports
import MainLayout from "../layouts/MainLayout.astro";

---

<MainLayout title="Página no encontrada">
    <div>
        <h1>I'm sorry, you might have landed in the wrong page.</h1>
        <a href="/" class="button">Return</a>
        <img src="https://shiramiller.com/wp-content/uploads/2020/12/3-Signs-You-are-on-the-Wrong-Path-in-Life.jpg" alt="Camino equivocado">
    </div>
</MainLayout>

<style>
    img {
        width: 100%;
        max-width: 400px;
        border-radius: 50%;
        aspect-ratio: 1;
        object-fit: cover;
    }
</style>