---
//library imports
import { Image } from "@astrojs/image/components";

// component imports
import MainLayout from "../layouts/MainLayout.astro";
import Technologies from "../components/utility/Technologies.astro";

// utility imports
import Link from "../components/utility/Link.astro";

// config imports
import config from "/config.js";
const attr = config.links.map(link => ({
  id: link.href.slice(1),
  "aria-label": link.label,
}));
---

<MainLayout title="About me" description="About me page">

    <section {...attr[0]}>
        <h2>{attr[0]["aria-label"]}</h2>
        <p>Front-end developer</p>
        <p>Main technologies: CSS, JS, Astro</p>
        <p>I speak</p>
        <p>I'm from</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, unde tempora sunt officiis reprehenderit sed quibusdam, totam animi magni accusantium deserunt iure impedit laudantium saepe minima cupiditate, debitis exercitationem! Facilis?</p>
    </section>

      <section {...attr[1]}>
        <h2>{attr[1]["aria-label"]}</h2>
        <p>Text here</p>
        <small>You can check more on my <Link href="https://github.com/Myntsu?tab=repositories" target="blank" external>GitHub </Link></small>
      </section>

      <section {...attr[2]}>
        <h2>{attr[2]["aria-label"]}</h2>
        <Technologies 
        stack={config.stack}
        />
        <small><i>Values are merely estimative and based on my own perception and experience.</i></small>
      </section>

      <section {...attr[3]}>
        <h2>{attr[3]["aria-label"]}</h2>
        <p>Text here</p>
      </section>

</MainLayout>

<style>
    section {
        min-height: 50vh;
        min-height: 50svh;
    }
</style>

<script>
      import "../scripts/scrollspy.js";
</script>