---
//library import
import { Image } from "@astrojs/image/components";

// component imports
import MainLayout from "../layouts/MainLayout.astro";
import PostCard from "../components/PostCard.astro";

// utils imports
import { formatBlogPosts } from "../scripts/utils";

const allPosts = await Astro.glob("./blog/*.md");
const formattedPosts = formatBlogPosts(allPosts, {
  limit: 3,
});
---

<MainLayout
  title="Home"
  description="Blog landing page">
  <section aria-label="About Me">
    <!-- <Image
        src="https://picsum.photos/id/237/600/400"
        alt="Lorem perrito"
        width={600}
        height={400}
        format="avif"
        class="responsive-image"
    /> -->
    <div>
        <h1>Welcome to my personal website!</h1>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum molestias a exercitationem id quo cum hic qui adipisci explicabo iure. Unde, exercitationem ea illo doloremque pariatur id aliquid saepe atque.
    </div>
  </section>
  <section aria-label="Newest blog posts">
    <h2>Newest blog posts</h2>
    <div class="card-container">
      {
        formattedPosts.map((post) => (
          <PostCard
            frontmatter={post.frontmatter}
            url={post.url}
            tagType="h3"
          />
        ))
      }
    </div>
  </section>
</MainLayout>

<style>
  .responsive-image {
    width: 100%;
    height: auto;
  }

  .card-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(min(225px, 100%), 1fr));
      justify-items: center;
      gap: var(--rem-lg);
      width: 100%;
  }
</style>
