---
// component imports
import MainLayout from "../layouts/MainLayout.astro";
import PostCard from "../components/PostCard.astro";

// utils imports
import { formatBlogPosts } from "../scripts/utils";
import CardsContainer from "../components/simple/CardsContainer.astro";

const allPosts = await Astro.glob("./blog/*.md");
const formattedPosts = formatBlogPosts(allPosts, {
  limit: 3,
});
---

<MainLayout
  title="Home"
  description="Landing page of Myndi's page">
  <section aria-label="About Me">
    <div>
        <h1>Welcome to my personal website!</h1>
        <p>Hello there, and welcome to my site. This is a portfolio/blog built with <a href="https://astro.build/" class="link" target="_blank">Astro</a></p>
        <p>Sadly I don't have the option for more languages or changing the color theme, but it will make it live at some point <span class="kaomoji">( •̀ ω •́ )✧</span> for now sit and relax as this project develops.</p>
    </div>
  </section>
  <section aria-label="Newest blog posts">
    <h2>Newest blog posts</h2>
    <CardsContainer>
      {
        formattedPosts.map((post) => (
          <PostCard
            frontmatter={post.frontmatter}
            url={post.url}
            tagType="h3"
          />
        ))
      }
    </CardsContainer>
  </section>
</MainLayout>

<style>

</style>
