---
// component imports
import MainLayout from "../layouts/MainLayout.astro";
import PostCard from "../components/PostCard.astro";

// utils imports
import { formatBlogPosts } from "../scripts/utils";
import CardsContainer from "../components/utility/CardsContainer.astro";
import Link from "../components/utility/Link.astro";

const allPosts = await Astro.glob("./blog/*.md");
const formattedPosts = formatBlogPosts(allPosts, {
  limit: 2,
});
---

<MainLayout
  title="Home"
  description="Landing page of Myndi's page">
  <section id="home" aria-label="About Me">
    <div>
        <h1>Welcome to my personal Portafolio & Blog!</h1>
        <p>Hello there, and welcome to my site. This is a portfolio/blog built with <Link href="https://astro.build/" target="blank" external>Astro</Link> </p>
    </div>
  </section>
  <section aria-label="Newest blog posts">
    <h2>Latest blog posts</h2>
    <CardsContainer>
      {
        formattedPosts.map((post) => (
          <PostCard
            frontmatter={post.frontmatter}
            url={post.url}
            tagType="h3"
          />
        ))
      }
    </CardsContainer>
  </section>
</MainLayout>

<style>
  #home {
    min-height: 50vh;
    min-height: 50svh;
  }
</style>
