---
// util imports
import { formatBlogPosts, slugify } from "../scripts/utils";

const allPosts = await Astro.glob("../pages/blog/*.md");
const formattedPosts = formatBlogPosts(allPosts);

const allCategories = formattedPosts
  .map((cat) => cat.frontmatter.category.toLowerCase())
  .flat();

const processedCats = allCategories.reduce((acc, category) => {
  // check if the category exists in the acc
  const value = acc[category] || 0;

  return {
    ...acc,
    [category]: value + 1,
  };
}, {});

const { showCount } = Astro.props;
---

<ul>
  {
    Object.entries(processedCats).map(([key, val]) => (
      <li>
        <div class="tag">
          <a
            href={`/category/${slugify(key)}/`}>
            <div class="split-tag">
              <span class="title">{key}</span> <span class="number">{showCount && `${val}`}</span>
            </div>
          </a>
        </div>
      </li>
    ))
  }
</ul>

<style lang="scss">
  ul {
    list-style: none;
    // display: flex;
    // flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(75px, 100%), 1fr));
    gap: var(--rem-sm);

    margin: 0;
    padding: 0;
  }
</style>
