---

---

<footer>
    <div>
        <small>
            Copyright &copy <span id="copyright"></span> | Todos los derechos reservados
        </small>
    </div>
</footer>

<style>
    footer {
        width: 100%;
        text-align: center;
    }

    footer > div {
        width: var(--container-width);
        max-width: var(--container-max-width);
        margin-inline: auto;
    }
</style>

<script>
    import '../scripts/copyright.js';
</script>