---
// libraries import
import { Icon } from "astro-icon";
---

<footer>
  <div class="rss-feed">
    <a
      href="/rss.xml"
      class="link-within">
      Subscribe to my RSS
      <Icon
        name="ic:baseline-rss-feed"
        width="22"
        height="22"
      />
    </a>
  </div>
  <div class="copyright">
    <p>
      Made by <a
        href="https://github.com/Myntsu"
        target="_blank"
        class="link"
        >Myndi</a
      >
    </p>
    <small>
      Copyright &copy <span id="copyright"></span> | All rights reserved
    </small>
  </div>
</footer>

<style lang="scss">
  footer {
    --current-font-size: var(--rem-lg);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;

    margin-block-start: auto;
    margin-block-end: var(--rem-lg);
    text-align: center;
    font-size: var(--rem-lg);

    .rss-feed {
      text-align: center;
      a {
        display: flex;
        justify-content: center;
        align-items: flex-start;
      }
    }

    .copyright {
      display: flex;
      flex-direction: column;
    }
  }

  p {
    margin: 0 !important;
  }

  small {
    font-size: var(--rem-md);
  }
</style>

<script>
  import "../scripts/copyright.js";
</script>
