---
// libraries import
import { Icon } from "astro-icon";

// components import
import Link from "../components/simple/Link.astro";
---

<footer>
  <button
  type="button"
  data-theme-toggle
  aria-label="Toggle dark/light theme"
  >Icon</button>
  <div class="rss-feed">
    <Link href="/rss.xml">
      Subscribe to my RSS
      <Icon
        name="ic:baseline-rss-feed"
        width="20"
        height="20"
      />
    </Link>
  </div>
  <div class="copyright">
    <p>
      Made by
      <Link
        href="https://github.com/Myntsu"
        target="blank"
        external>
        Myndi
      </Link>
    </p>
    <small>
      Copyright &copy <span id="copyright"></span> | All rights reserved
    </small>
  </div>
</footer>

<style lang="scss">

  footer {
    --current-font-size: var(--rem-lg);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;

    margin-block-start: auto;
    margin-block-end: var(--rem-lg);
    text-align: center;
    font-size: var(--rem-lg);

    .rss-feed {
      text-align: center;
      a {
        display: flex;
        justify-content: center;
        align-items: flex-start;
      }
    }

    .copyright {
      display: flex;
      flex-direction: column;
    }
  }

  p {
    margin: 0 !important;
  }

  small {
    font-size: var(--rem-md);
  }
</style>

<script>
  import "../scripts/copyright.js";
</script>
