---
// libraries import
import { Icon } from "astro-icon";
---

<footer>
  <div class="rss-feed">
    <Icon />
  </div>
  <div class="copyright">
    <p>
      Made by <a
        href="https://github.com/Myntsu"
        target="_blank"
        class="link"
        >Myndi</a>
    </p>
    <small>
      Copyright &copy <span id="copyright"></span> | All rights reserved
    </small>
  </div>
</footer>

<style lang="scss">
  footer {
    --current-font-size: var(--rem-lg);
    padding-block: var(--footer-distance);
    margin-block-start: auto;
    text-align: center;
    font-size: var(--rem-lg);

    .copyright {
      display: flex;
      flex-direction: column;
    }
  }

  p {
    margin: 0 !important;
  }

  small {
    font-size: var(--rem-md);
  }
</style>

<script>
  import "../scripts/copyright.js";
</script>
