---
// libraries import
import { Icon } from "astro-icon";

// components import
import Link from "../components/simple/Link.astro";
---

<button
  type="button"
  id="theme-toggle"
  aria-label="Toggle dark/light mode">
  <span class="sun"><Icon name="mdi:white-balance-sunny" /></span>
  <span class="moon"><Icon name="mdi:weather-night" /></span>
  <span class="circle"></span>
</button>

<footer>
  <div class="rss-feed">
    <Link href="/rss.xml">
      Subscribe to my RSS
      <Icon
        name="ic:baseline-rss-feed"
        width="20"
        height="20"
      />
    </Link>
  </div>
  <div class="copyright">
    <p>
      Made by
      <Link
        href="https://github.com/Myntsu"
        target="blank"
        external>
        Myndi
      </Link>
    </p>
    <small>
      Copyright &copy <span id="copyright"></span> | All rights reserved
    </small>
  </div>
</footer>

<style lang="scss">
html:is(.dark) {
  #theme-toggle {
    .sun {
      visibility: hidden;
      translate: 30px;
      opacity: 0;
    }

    .moon {
      display: flex !important;
    }

    .circle {
      translate: 0;
    }
  }
}

html:is(.light) {
  #theme-toggle {
    .moon {
      visibility: hidden;
      translate: -30px;
      opacity: 0;
    }

    .sun {
      display: flex;

    }

    .circle {
      translate: 36px;
    }
  }
}

  #theme-toggle {
    display: flex;
    align-items: center;
    width: min-content;

    padding-block: .2rem;

    background-color: hsl(var(--background-light));
    border: 2px solid hsl(var(--main-color));
    border-radius: 99999px;

    margin-inline: auto;

    position: relative;

    & > *:not(.circle) {
      display: flex;
      justify-content: center;
      align-items: center;
      color: hsl(var(--main-color));

      opacity: 1;

      position: relative;

      transition: 500ms cubic-bezier(0.075, 0.82, 0.165, 1);

      svg {
        display: grid;
        align-items: center;
        width: 32px;
        aspect-ratio: 1;
        line-height: 0;
      }

      .moon {
        visibility: hidden;
      }
    }

    .circle {
        position: absolute;
        width: 32px;
        height: 32px;
        aspect-ratio: 1;
        background-color: hsl(var(--main-color));
        border-radius: 50%;
        z-index: -1;
        left: 5px;
        top: 50%;
        transform: translate(0%, -50%);

        transition: 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    }
  }

  footer {
    --current-font-size: var(--rem-lg);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;

    margin-block-start: auto;
    margin-block-end: var(--rem-lg);
    text-align: center;
    font-size: var(--rem-lg);

    .rss-feed {
      text-align: center;
      a {
        display: flex;
        justify-content: center;
        align-items: flex-start;
      }
    }

    .copyright {
      display: flex;
      flex-direction: column;
    }
  }

  p {
    margin: 0 !important;
  }

  small {
    font-size: var(--rem-md);
  }
</style>

<script>
  import "../scripts/copyright.js";
</script>
