---
// component import
import Footer from "../components/Footer.astro";

//library import
import { Image } from "@astrojs/image/components";
---

<div class="hamburger"></div>
<nav aria-label="Primary">
  <div class="container">
    <div class="inner">
      <a href="/">
        <Image
          src="/images/smytsu_headshot.jpg"
          alt="Smytsu's headshot image"
          width={150}
          height={150}
          format="avif"
          fit="cover"
          quality={20}
          aspectRatio="1:1"
          class="headshot-image"
        />
        Home
      </a>
      <ul>
        <li>
          <a href="/about" data-link> About</a>
        </li>
        <li>
          <a href="/blog" data-link>Blog</a>
        </li>
        <li>
          <a href="/dummy1" data-link>Dummy 1</a>
        </li>
        <li>
          <a href="/dummy2" data-link>Dummy 2</a>
        </li>
        <li>
          <a href="/dummy3" data-link>Dummy 3</a>
        </li>
      </ul>
    </div>
    <Footer />
  </div>
</nav>

<style lang="scss">
  nav {
    --current-font-size: 1.25rem;
    position: sticky;
    top: 0;
    overflow-y: auto;
    max-width: var(--navbar-width);
    height: 100vh;
    z-index: 9999;
    background-color: hsl(var(--background-lighter));
    font-size: var(--current-font-size);
  }

  .hamburger {
    display: none;
    position: fixed;
    top: var(--rem-xl);
    right: var(--rem-xl);
    font-size: 2rem;
    z-index: 10000;

    transition: background-color 200ms linear;

    &::before {
      content: "\f0c9";
      font-family: "Font Awesome 6 Free";
      font-weight: 900;
    }
  }

  @media only screen and (max-width: 870px) {
    .hamburger {
      display: flex;
      background-color: hsl(var(--background-lighter));
      padding: var(--rem-xs) var(--rem-lg);
      border: 1px solid hsl(var(--font) / 0.3);
      border-radius: var(--rem-sm);
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .headshot-image {
    border-radius: 50%;
    margin-inline: auto;
  }

  .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;

    > a {
      display: flex;
      flex-direction: column;
      gap: var(--rem-lg);

      padding-block: var(--rem-lg);

      width: 100%;
      aspect-ratio: 1/1;
      color: hsl(var(--main-color));
      text-align: center;
      text-decoration: none;

      &:is(:hover, :focus-visible) {
        color: var(--white);
      }
    }

    ul {
      --main-color: 230 90% 80%;
      width: 100%;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        position: relative;
        padding-inline-start: var(--rem-lg);

        a {
          display: flex;
          padding-block: var(--rem-sm);
          color: hsl(var(--main-color));
          text-decoration: none;

          &[data-link] {
            &:is(.loaded) {
              transition: padding-inline-start 250ms ease;
            }
          }

          &[aria-current="page"] {
            padding-inline-start: var(--rem-xl);
            color: hsl(var(--white));

            &::before {
              content: "";
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              border-inline-start: var(--rem-xs) solid hsl(var(--main-color));
            }
          }
        }

        &:is(:hover, :focus-visible) {
          background-color: hsl(var(--main-color) / 0.1);

          a {
            color: var(--white);
            padding-inline-start: var(--rem-xl);
          }
        }

        &:has([aria-current="page"]) {
          background-color: hsl(var(--main-color) / 0.1);
        }
      }
    }
  }
</style>

<script>
  import "../scripts/nav.js";
</script>
