---
// component import
import Footer from "../components/Footer.astro";
import SocialMedia from "./simple/SocialMedia.astro";

//library import
import { Image } from "@astrojs/image/components";
import { Icon } from "astro-icon";

// config import
import config from "/config.js";

let showDiv = Astro.request.url.includes("/about");
---

<button 
  type="button"
  class="hamburger"
  aria-label="Open navigation bar"
  aria-controls="navbar"
  aria-expanded="false">
  <Icon
    class="hamburger-icon arrow"
    name="jam:arrow-square-right-f"
  />
  <Icon
    class="hamburger-icon cross"
    name="jam:close-rectangle-f"
  />
</button>
<nav
  id="navbar"
  aria-label="Primary">
  <div class="container">
    <div class="inner">
      <a href="/">
        <Image
          src="/images/smytsu_headshot.jpg"
          alt="Smytsu's headshot image"
          width={150}
          height={150}
          format="avif"
          fit="cover"
          quality={20}
          aspectRatio="1:1"
          class="headshot-image"
        />
        Home
      </a>
      <ul>
        <li>
          <a
            href="/about"
            data-link>
            About
          </a>
        </li>
        {
          showDiv ? (
            <li class="nested-list">
              <ul class="about-me-details">
                {config.links.map((link) => (
                  <li>
                    <a href={link.href}>{link.label}</a>
                  </li>
                ))}
              </ul>
            </li>
          ) : null
        }
        <li>
          <a
            href="/blog"
            data-link
            >Blog</a
          >
        </li>
        <li>
          <a
            href="/dummy1"
            data-link
            >Dummy 1</a
          >
        </li>
        <li>
          <a
            href="/dummy2"
            data-link
            >Dummy 2</a
          >
        </li>
        <li>
          <a
            href="/dummy3"
            data-link
            >Dummy 3</a
          >
        </li>
      </ul>
    </div>
    <Footer />
  </div>
  <SocialMedia socials={config.socials} />
</nav>

<style lang="scss">
  nav {
    --footer-distance: 1rem;
    --current-font-size: 1.25rem;
    position: sticky;
    top: 0;
    overflow-y: scroll;
    height: 100vh;
    z-index: 9999;

    width: 100%;
    max-width: var(--navbar-width);
    background-color: hsl(var(--background-lighter));
    font-size: var(--current-font-size);
  }

  .hamburger {
    display: none;
    position: fixed;
    top: 1.25rem;
    right: 1.25rem;
    z-index: 9999;

    &:is(:active) {
      scale: 0.97;
    }

    &:is(:hover) {
      opacity: 0.9;
    }

    .hamburger-icon {
      color: hsl(var(--font));
      height: 60px;
      width: 60px;

      transition: color 200ms linear;
    }

    @media only screen and (max-width: 870px) {
      display: flex;
      background-color: unset;
      border: none;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }

  .headshot-image {
    border-radius: 50%;
    margin-inline: auto;
  }

  .inner {
    margin-block-end: 3rem;

    > a {
      display: flex;
      flex-direction: column;
      gap: var(--rem-lg);

      padding-block: var(--rem-lg);

      width: 100%;
      aspect-ratio: 1/1;
      color: hsl(var(--navbar-color));
      text-align: center;
      text-decoration: none;

      &:is(:hover, :focus-visible) {
        color: hsl(var(--navbar-font));
      }
    }

    ul {
      --main-color: var(--navbar-color);
      width: 100%;
      list-style: none;
      margin: 0;
      padding: 0;

      li:not(.nested-list) {
        position: relative;
        padding-inline-start: var(--rem-lg);

        a {
          display: flex;
          padding-block: var(--rem-sm);
          color: hsl(var(--main-color));
          text-decoration: none;

          &[data-link] {
            &:is(.loaded) {
              transition: padding-inline-start 250ms ease;
            }
          }

          &[aria-current="page"] {
            padding-inline-start: var(--rem-xl);
            color: hsl(var(--navbar-font));

            &::before {
              content: "";
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              border-inline-start: var(--rem-xs) solid hsl(var(--main-color));
            }
          }
        }

        &:is(:hover, :focus-visible) {
          background-color: hsl(var(--navbar-color) / 0.1);

          a {
            color: hsl(var(--navbar-font));
            padding-inline-start: var(--rem-xl);
          }
        }

        &:has([aria-current="page"]) {
          background-color: hsl(var(--navbar-color) / 0.1);
        }
      }
    }
  }

  .about-me-details {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      background-color: hsl(var(--main-color) / 0.1);

      &:has(a.active) {
        background-color: hsl(var(--main-color) / 0.5);

        a {
          color: hsl(var(--white));
        }
      }

      a {
        font-size: 1rem;
        width: 100%;
        transition: padding-inline-start 250ms ease;
      }
    }
  }
</style>

<script>
  import "../scripts/nav.js";
  import '../scripts/themechange.js';
</script>
