---
// libraries import
import { Icon } from "astro-icon";

const { prevUrl, nextUrl } = Astro.props;
---

<nav aria-label="Blog pages">
  {
    prevUrl && (
      <span class="button">
        <a
          href={prevUrl}
          aria-label="Previous page">
          <span class="icon">
            <Icon
              name="mdi:arrow-left-bold"
            />
          </span>
          Previous
        </a>
      </span>
    )
  }
  {
    nextUrl && (
      <span class="button">
        <a
          href={nextUrl}
          aria-label="Next page">
          Next
          <span class="icon">
            <Icon
              name="mdi:arrow-right-bold"
            />
          </span>
        </a>
      </span>
    )
  }
</nav>

<style>
  nav {
    align-self: flex-end;
    display: flex;
    gap: var(--rem-sm);
  }

  .button a {
    display: flex;
    align-items: center;
  }

  [aria-label="Previous page"] .icon {
    padding-inline-end: var(--rem-xs);
  }

  [aria-label="Next page"] .icon {
    padding-inline-start: var(--rem-xs);
  }

  .icon {
    display: flex;
    align-items: center;

    position: relative;
    top: 35%;
    /* left: 0; */
    transform: translate(0%, -50%);
  }

  .icon svg {
    --size: 18px;
    width: var(--size);
    height: var(--size);
  }
</style>
