
#blog-post {
  a {
     display: inline-flex;

     color: hsl(var(--navbar-color));
     font-weight: 700;
     position: relative;

     &:is(:hover, :focus-visible) {
       text-decoration: none;
     }
   }
 }