@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("/fonts/atkinson-hyperlegible/WOFF2/Atkinson-Hyperlegible-Regular-102a.woff2")
      format("woff2"),
    url("/fonts/atkinson-hyperlegible/WOFF/Atkinson-Hyperlegible-Regular-102.woff")
      format("woff"),
    url("/fonts/atkinson-hyperlegible/TTF/Atkinson-Hyperlegible-Regular-102.ttf")
      format("ttf"),
    url("/fonts/atkinson-hyperlegible/SVG/Atkinson-Hyperlegible-Regular-102.svg")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  // main tag
  --container-width: 100%;
  --container-max-width: 900px;
  --current-font-size: 1rem;
  --icon-font-size: calc(var(--current-font-size, 0.75rem) * 0.75);

  // sizing
  --rem-xs: 0.25rem;
  --rem-sm: 0.5rem;
  --rem-md: 0.75rem;
  --rem-lg: 1rem;
  --rem-xl: 1.5rem;

  //canonical colors
  --white: 0 0% 100%;

  //default theme
  // main colors
  --main-color: 0 90% 55%;
  --secondary-color: 20 100% 60%;
  --background: 0 0% 100%;
  --background-lighter: 0 0% 94%;

  // navbar
  --navbar-color: 0 100% 66%;
  --navbar-font: 360 100% 50%;

  // cards
  --card-background: 0 0% 89%;
  --highlight: 0 0% 0%;

  // font and link styles
  --font: 0 0% 13%;
  --font-dark: 0 0% 5%;

  // button and tag styles
  --button: 0 90% 55%;
  --button-font: 0 0% 100%;
  --tag: 0 60% 50%;
  --tag-font: 0 0% 100%;

  //highlight
  --highlight: 0 100% 80%;

  //background-blur-color
  --background-blur-color: 0 90% 80%;
}

.light {
  // main colors
  --main-color: 0 90% 55%;
  --secondary-color: 20 100% 60%;
  --background: 0 0% 100%;
  --background-lighter: 0 0% 94%;

  // navbar
  --navbar-color: 0 100% 66%;
  --navbar-font: 360 100% 50%;

  // cards
  --card-background: 0 0% 89%;
  --highlight: 0 0% 0%;

  // font and link styles
  --font: 0 0% 13%;
  --font-dark: 0 0% 5%;

  // button and tag styles
  --button: 0 90% 55%;
  --button-font: 0 0% 100%;
  --tag: 0 60% 50%;
  --tag-font: 0 0% 100%;

  //highlight
  --highlight: 0 100% 80%;

  //background-blur-color
  --background-blur-color: 0 90% 80%;
}

.dark  {
  // main colors
  --main-color: 240 90% 80%;
  --secondary-color: 300 70% 70%;
  --background: 0 0% 9%;
  --background-lighter: 0 0% 11%;

  // navbar
  --navbar-color: 230 90% 80%;
  --navbar-font: 0 0% 100%;

  // cards
  --card-background: var(--secondary-color);
  --highlight: 0 0% 100%;

  // font and link styles
  --font: 0 0% 91%;
  --font-dark: 0 0% 9%;

  // button and tag styles
  --button: 240 100% 65%;
  --button-font: 0 0% 100%;
  --tag: 0 60% 50%;
  --tag-font: 0 0% 100%;

  //highlight
  --highlight: 0 0% 91%;

  // background-blur-color
  --background-blur-color: 240 90% 80%;
}

::-webkit-scrollbar {
  width: 1em;
  background-color: hsl(var(--background-lighter));
}

::-webkit-scrollbar-track {
  border-left: 1px solid hsl(var(--font) / 0.1);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--font) / 0.7);
}

::-webkit-scrollbar-thumb:is(:hover, :focus, :active) {
  background-color: hsl(var(--font));
}

::selection {
  background-color: hsl(var(--font));
  color: hsl(var(--background));
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  min-height: 100svh;
  overflow-x: hidden;
  overflow-x: -moz-hidden-unscrollable;
  overflow-x: clip;
  scrollbar-gutter: auto;
}

body {
  margin: 0;

  color: hsl(var(--font));
  background-color: hsl(var(--background));

  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: var(--current-font-size);
  font-weight: 400;
  line-height: 1.5;
}

main {
  width: var(--container-width);
  max-width: var(--container-max-width);

  background-color: hsl(var(--background-lighter) / .7);

  margin-inline: auto;
  padding: 4rem 1rem 4rem 1rem;

  section {
    padding: var(--rem-lg);
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  margin-block-end: var(--rem-lg);
}

h1 {
  font-size: clamp(1.5rem, 0.9681rem + 1.7021vw, 2.5rem);
}

@for $i from 1 through 6 {
  h#{$i} {
    text-shadow: 0 0 10px hsl(var(--highlight) / 0.6);
  }
}


img,
video,
picture {
  display: block;
  max-width: 100%;
}

pre {
  max-width: 100%;
  padding: 1rem;
  border-radius: 0.25rem;
  overflow-wrap: anywhere !important;
}

.layout {
  --navbar-width: 250px;
  display: grid;
  grid-template-columns: 1fr var(--container-max-width) 1fr;

  transition: margin-inline-start 300ms ease;
}

@media (max-width: 1440px) {
  .layout {
    grid-template-columns: var(--navbar-width) 1fr;
  }
}

@media (max-width: 870px) {
  main {
    padding: 4rem 1rem 4rem 1rem;
  }

  #navbar {
    display: none;
  }

  .layout {
    // grid-template-columns: min(var(--navbar-width), 100%) 100vw;
    grid-template-columns: 100vw;

    &:is(.open) {
      .hamburger-icon {
        color: hsl(var(--main-color));

        &.arrow {
          display: none;
        }
      }
    }

    &:is(:not(.open)) {
      .hamburger-icon {
        &.cross {
          display: none;
        }
      }
    }

    &.open {
      // margin-inline-start: calc(-1 * var(--navbar-width));
      grid-template-columns: min(var(--navbar-width), 100%) 100vw;
      #navbar {
        display: block;
      }
    }
  }
}

// utility classes
.button {
  display: flex;

  & > * {
    padding: 0.25rem 0.8rem;

    background-color: hsl(var(--button));
    color: hsl(var(--button-font));
    border-radius: 0.25rem;

    text-decoration: none;
    user-select: none;

    &:is(:hover, :focus-visible) {
      opacity: 0.95;
      color: hsl(var(--button));
      background-color: hsl(var(--button-font));
      outline: 1px solid hsl(var(--button));
      outline-offset: 2px;
    }

    &:is(:active) {
      scale: 0.95;
    }
  }
}

.card-header {
  color: hsl(var(--font));
  text-decoration: none;

  &:is(:hover, :focus-visible) {
    color: hsl(var(--main-color));
    outline: transparent;

    transition: color 300ms ease;

    &:focus-visible {
      background-color: hsl(var(--font));
      color: hsl(var(--background));
    }
  }
}

.card-link {
  color: hsl(var(--font));
  text-decoration: none;

  &:is(:hover, :focus-visible) {
    color: hsl(var(--main-color));
    outline: transparent;

    transition: color 300ms ease;

    &:focus-visible {
      background-color: hsl(var(--font));
      color: hsl(var(--background));
    }
  }
}

.tag {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-family: monospace;

  &:is(.tag-button) {
    a {
      color: hsl(var(--button-font));
      background-color: hsl(var(--button));
      border-radius: .15rem;

      &:is(:hover, :focus-visible) {
        color: hsl(var(--button));
        background-color: hsl(var(--button-font));
        outline: 1px solid hsl(var(--button));
      }

      .split-tag {
        .number {
          color: hsl(var(--button));
          background-color: hsl(var(--white));
        }
      }
    }
  }

  a {
    padding-inline: 0.5rem;

    background-color: hsl(var(--tag));
    color: hsl(var(--tag-font));
    font-weight: 700;

    text-transform: capitalize;
    text-decoration: none;
    user-select: none;

    white-space: nowrap;
    overflow: hidden;

    &:has(.split-tag) {
      padding: 0;
    }

    .split-tag {
      width: 100%;
      height: 100%;
      display: flex;
      text-align: center;

      span {
        display: inline-flex;
        padding-inline: 0.5rem;
      }

      .title {
        flex: 1;
      }

      .number {
        margin-inline-end: auto;

        color: hsl(var(--tag));
        background-color: hsl(var(--tag-font));
      }
    }

    &:is(:hover, :focus-visible) {
      color: hsl(var(--tag));
      background-color: hsl(var(--tag-font));

      opacity: 0.9;
      outline: 1px solid hsl(var(--tag));
      outline-offset: 2px;
    }

    &:is(:active) {
      scale: 0.95;
    }
  }
}

.expanded-link {
  position: absolute;
  inset: 0;
  cursor: pointer;
}

.kaomoji {
  display: inline-block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.highlight-text {
  text-shadow: 0 0 10px hsl(var(--highlight) / .6);
}