---
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
import MainHead from './MainHead.astro';

const {
    title = "Astro Blog", 
    description = "Reference links for this Blog"
    } = Astro.props;
---

<html lang="es">
    <MainHead {title} {description}/>
    <body>
        <div class="layout">
            <Nav />
            <main>
                <slot />
            </main>
        </div>
    </body>
</html>

<style is:global lang="scss">
    @font-face {
        font-family: "Atkinson Hyperlegible";
        src: local('Atkinson Hyperlegible'),
        url('/fonts/atkinson-hyperlegible/SVG/Atkinson-Hyperlegible-Regular-102.svg') format('svg'),
        url('/fonts/atkinson-hyperlegible/TTF/Atkinson-Hyperlegible-Regular-102.ttf') format('ttf'),
        url('/fonts/atkinson-hyperlegible/WOFF/Atkinson-Hyperlegible-Regular-102.woff') format('woff'),
        url('/fonts/atkinson-hyperlegible/WOFF2/Atkinson-Hyperlegible-Regular-102.woff2') format('woff2');
    }

    :hover {
        // outline: 2px solid red;
    }

    :root {
        --container-width: 100%;
        --container-max-width: 900px;

        --rem-xs: .25rem;
        --rem-sm: .5rem;
        --rem-md: .75rem;
        --rem-lg: 1rem;
        --rem-xl: 1.5rem;

        --main-color: 240 90% 80%;
        --background: 0 0% 9%;
        --background-lighter: 0 0% 11%; 
        --font: 0 0% 91%;
        --font-dark: 0 0% 9%;
        --link: hsl(var(--main-color) / 0.2);
        --tag: 230 100% 75%;
    }

    *, ::before, *::after {
        box-sizing: border-box;
    }

    html, body {
        min-height: 100svh;
    }

    body {
        width: 100dvw;
        margin: 0;

        background-color: hsl(var(--background));
        color: hsl(var(--font));

        font-family: 'Atkinson Hyperlegible';
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;

        overflow-x: hidden;
    }

    main {
        width: var(--container-width);
        max-width: var(--container-max-width);

        background-color: hsl(var(--background-lighter));
        
        margin-inline: auto;
        padding: var(--rem-lg);
    }

    h1, h2, h3, h4, h5, h6, p {
        margin: 0;
        margin-block-end: var(--rem-lg);
    }

    img, video, picture {
        display: block;
    }

    .layout {
        --navbar-width: 250px;
        display: grid;
        grid-template-columns: 1fr var(--container-max-width) 1fr;

        @media only screen and (max-width: 1440px) {
            grid-template-columns: var(--navbar-width) 1fr;
        }

        @media only screen and (max-width: 870px) {
            grid-template-columns: 1fr 100svw;
        }
    }

    .link {
        color: hsl(var(--main-color));
        font-weight: 700;
        position: relative;

        &:is(:hover, :focus-visible) {
            text-decoration: none;

            &::after {
                content: '\f08e';
                top: 45%;
                transform: translateY(-50%);
                position: absolute;
                font-family: 'Font Awesome 6 Free';
                font-weight: 900;
                font-size: calc(var(--current-font-size, .75rem) * .75);
                margin-inline-start: .25rem;
            }
        }
    }

    .link-within {

    }

    .tag {
            display: flex;

        a {
            padding: .25rem .8rem;

            background-color: hsl(var(--tag));
            color: hsl(var(--font));
            border-radius: .25rem;

            text-decoration: none;
            user-select: none;

            &:is(:hover, :focus-visible) {
                opacity: .95;
                outline: 1px solid hsl(var(--font));
                outline-offset: 2px;
            }

            &:is(:active) {
                scale: .95;
            }
        }
    }

    .card-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
        gap: 1rem;
    }
</style>